<!DOCTYPE html>

<html lang="en">
<head>
<title>Creepin' on Cadejo'</title>
<meta name="description" content=""/>

<script src="/global.js" type="text/javascript" charset="utf-8"></script>

</head>

<header>
</header>

<%= yield %>


</body>



</html>